{% extends 'base.html.twig' %}

{% block title %}Hello IndexPageController!{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
<div class="example-wrapper">
    Hello choose from column above
</div>
{% endblock %}
